.container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width:50vw;
        background-color: rgb(0, 255, 106);
        padding:1rem;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
    }
    button{
        border-radius: 10%;
        width:80px;
        padding:0.4rem;
        margin-top: 1rem;
        background-color: black;
        color:white;
        
    }
    button:hover{
        background-color: white;
        color:black;
    }